@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

/* **************
    TYPOGRAPHY
   ************** */

h1{
    font-family: 'Lora', serif;
    font-weight: 400;
    color: #143774;
    margin:0;
}   

.sub-title{
    color: #1792d2;
    font-weight: 700;
    font-size: .85em;
    margin-top:0.5em;
}

/*------------------------------
    LAYOUT
---------------------------------*/
header{
    background-color: #f8f8f8;
    padding: 2em 0;
}

.container{
    
    width:90%;
    max-width:900px;
    margin: 0 auto;
    
}

.container-nav{
    display: flex;
    justify-content: space-between;
}


/*-----------------------
    NAVIGATION
-------------------------*/
nav ul{
    list-style: none;
    display: flex;
    padding:0;    
    justify-content: center;
}

nav li{
    margin-left: 2em;
}

nav a{
    text-decoration: none;
    color: #707070;
    font-weight:700;
    padding: 0.25em;
}

nav a:hover,
nav a:focus
{
    color: #1792d2;
}

.current-page{
    border-bottom: 1px solid #707070;
}

.current-page:hover{
    color: #707070;
}

@media (max-width: 675px){
    .container-nav{
        flex-direction: column;
    }

    header{
        text-align: center;
    }

    nav ul{
        flex-direction: column;
    }

    nav li{
        margin: .5em 0;
    }
}